/*Body Properties*/
body{
    background-color: rgba(15, 15, 15, 1);
}

a{
    text-decoration: none;
    color: white;
    display: flex;

}

/*Header Properties*/

header{
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    margin-bottom: 10px;
}

#pagetitle{
    font-size: 50px;
}

#description{
    width: 400px;
    margin-top:45px;
}



.title{ 
    display: flex;
    gap: 18px;
    font-family: Consolas;  
    color:white;

}


/*github name/icon Poperties*/

#githubicon, #githubname{
    margin:auto
    
}
    .github{
        display: flex;
        gap:7px;
        font-family: Inter; 
        font-size: 15px


}

/*Cards Properties*/

h2{
    color: white;
    font-family: Inter;
}


p{
    width: 70%;
    margin-top: -10px;
    font-family: Consolas;
    color: rgba(189, 189, 189, 1);
}

    .cardsdiv{
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 30%);
        column-gap: 10px;
        row-gap: 60px;
        margin-bottom: 0 auto; 
    }

    .card{
        display:flex;
        flex-direction: column;
        justify-content: end;
        padding-left: 30px;
        padding-bottom: 30px;
        width: 320px; 
        height: 320px;
        background-color:rgba(18, 18, 18, 1);
        
    }

    #uicon{
        width: 23%;
        margin-bottom: 30px;
        
    }

    #animateicon{
        width: 25%;
        margin-bottom: 40px;
        margin-left: -15px;
    }

    #dribbleicon{
        margin-bottom: 40px;

    }
    .figma:hover{
        box-shadow:0 0 30px white;
         transition:0.5s;
        
    }

    .UI:hover{
        box-shadow:0 0 30px rgba(39, 39, 42, 1);
         transition:0.5s;
        
    }

    .animate:hover{
        box-shadow:0 0 30px rgba(70, 114, 254, 1);
         transition:0.5s;
    }
    
    .dribble:hover{
        box-shadow:0 0 30px rgba(242, 103, 152, 1);
        transition:0.5s;
    }

    