
body{
    background-color: rgba(15, 15, 15, 1);
}

a{
    text-decoration: none;
    color: white;

}


header{
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    margin-bottom: 30px;
}

h2,p{
    color: white;
}



p{
    width: 70%;
}

.title{ 
    display: flex;
    gap: 18px;
    font-family: Consolas;  
    color:white;

}

#pagetitle{
    font-size: 50px;
}

#description{
    width: 400px;
    margin-top:45px;
}

.github{
    display: flex;
    gap:7px;
    font-family: Consolas;

}

#githubicon{
    margin:auto
    
}

#githubname{
    margin: auto;
}

main{
    width: auto;
}

.cardsdiv{
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 30%);
        column-gap: 10px;
        row-gap: 60px;
        margin-bottom: 0 auto; 
    }

    .card{
        display: flex;
        padding-left: 20px;
        justify-content: center;
        flex-direction: column;
        width: 320px; 
        height: 320px;
        background-color:rgba(18, 18, 18, 1);
    }